@import "bootstrap/scss/functions";
@import "../../assets/style/helpers/variables";
@import "../../assets/style/helpers/colors";

$wide: '(min-width: 1800px)' !default;
$desktop: '(min-width: 1200px)' !default;
$tablet-landscape: '(min-width: 900px)' !default;
$tablet-protrait: '(min-width: 600px)' !default;
$phone: '(max-width: 600px)' !default;

@mixin media($query:$phone){
  @media #{$query}{
    @content
  }
}

.form-label {
  color: white;
  margin-bottom: 8px;
}
.form-control {
  padding: 16px;
  color: $neutral-80;
  border: 1px solid $neutral-40;
  background-color: white;
  &.disabled {
    color: $neutral-60;
    border: 1px solid $neutral-40;
    background-color: $neutral-40;
    pointer-events: none;
  }
  &:focus {
    border: 1px solid $primary;
    color: $neutral-80;
  }
}