@import "bootstrap/scss/functions";
@import "./helpers/variables";
@import "./helpers/colors";
@import "bootstrap/scss/bootstrap";

@import "./helpers/customerFont";

body {
  height: 100vh;
}

.mb-40 {
  margin-bottom: 40px;
}
.mb-56 {
  margin-bottom: 56px;
}

.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}