@import "bootstrap/scss/functions";
@import "../../assets/style/helpers/variables";
@import "../../assets/style/helpers/colors";

.btn {
  width: 100%;
  padding: 16px 32px;
  color: white;
  border-radius: 8px;
  border: none;
  &.primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-120;
    }
    &.disabled {
      background-color: $neutral-40;
      color: $neutral-60;
      opacity: 1;
    }
  }
  &.secondary {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    &:hover {
      background-color: $primary-10;
      border: 1px solid $primary-120;
      color: $primary-120;
    }
    &.disabled {
      background-color: white;
      border: 1px solid $neutral-60;
      color: $neutral-60;
      opacity: 1;
    }
  }
  &.ghost {
    background-color: transparent;
    border: none;
    color: white;
    &:hover {
      color: $primary;
    }
    &.disabled {
      color: $neutral-60;
      opacity: 1;
    }
  }
  &.text {
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $primary;
    text-decoration: underline;
    &:hover {
      color: $primary-120;
    }
    &.disabled {
      color: $neutral-60;
      opacity: 1;
    }
  }
}