@import "../../assets/style/helpers/colors";

$wide: '(min-width: 1800px)' !default;
$desktop: '(min-width: 1200px)' !default;
$tablet-landscape: '(min-width: 900px)' !default;
$tablet-protrait: '(min-width: 600px)' !default;
$phone: '(max-width: 600px)' !default;

@mixin media($query:$phone){
  @media #{$query}{
    @content
  }
}

.navbar {
  padding: 24px 80px;
  background-color: $neutral-BG !important;
  color: white;
  .nav-link {
    color: white;
  }
  @include media($phone) {
    padding: 16px 12px;
  }
}
.hex_logo {
  height: 72px;
  display: block;
  @include media($phone) {
    height: 40.32px;
  }
}
.navItem {
  padding: 16px;
}